force-app/main/default/flows/A360_Close_Episode_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <interviewLabel>Close Episode {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Episode Flow</label>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Enter_Close_Details</name>
        <label>Enter Close Details</label>
        <locationX>260</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Outcome_Event</targetReference>
        </connector>
                <fields>
            <name>Close_Instructions</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
            <fieldText
      >Enter the episode Id and closeout details. Outcome Type must use one of the configured labels such as Adopted or Returned to Owner.</fieldText>
        </fields>
                <fields>
            <name>Episode_Id_Value</name>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <fieldText>Episode Id</fieldText>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
                <fields>
            <name>Outcome_Type_Value</name>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <fieldText>Outcome Type</fieldText>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
                <fields>
            <name>Outcome_DateTime_Value</name>
            <fieldType>InputField</fieldType>
            <dataType>DateTime</dataType>
            <fieldText>Outcome Date Time</fieldText>
            <helpText
      >Defaults to the current org date and time. Update it if the outcome happened earlier.</helpText>
            <defaultValue><elementReference
        >$Flow.CurrentDateTime</elementReference></defaultValue>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
                <fields>
            <name>Outcome_Notes_Value</name>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <fieldText>Outcome Notes</fieldText>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Close Complete</label>
        <locationX>1320</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
                <fields>
            <name>Success_Message</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
            <fieldText
      >Episode close completed successfully. Episode Id: {!Episode_Id_Value} Outcome Event Id: {!varOutcomeEventId}.</fieldText>
        </fields>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Close Error</label>
        <locationX>1120</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
                <fields>
            <name>Error_Message</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
            <fieldText
      >The close flow could not complete. {!$Flow.FaultMessage}</fieldText>
        </fields>
    </screens>
    <recordCreates>
        <name>Create_Outcome_Event</name>
        <label>Create Outcome Event</label>
        <locationX>480</locationX>
        <locationY>80</locationY>
        <assignRecordIdToReference>varOutcomeEventId</assignRecordIdToReference>
        <connector>
            <targetReference>Close_Current_Stay</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal_Episode__c</field>
            <value><elementReference>Episode_Id_Value</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Type__c</field>
            <value><elementReference
        >Outcome_Type_Value</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_DateTime__c</field>
            <value><elementReference
        >Outcome_DateTime_Value</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value><elementReference
        >Outcome_Notes_Value</elementReference></value>
        </inputAssignments>
        <object>Outcome_Event__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Close_Current_Stay</name>
        <label>Close Current Stay</label>
        <locationX>680</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Close_Episode</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Animal_Episode__c</field>
            <operator>EqualTo</operator>
            <value><elementReference>Episode_Id_Value</elementReference></value>
        </filters>
        <filters>
            <field>Is_Current__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <inputAssignments>
            <field>End_DateTime__c</field>
            <value><elementReference
        >Outcome_DateTime_Value</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current__c</field>
            <value><booleanValue>false</booleanValue></value>
        </inputAssignments>
        <object>Animal_Location_Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Episode</name>
        <label>Close Episode</label>
        <locationX>880</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Run_Rollup_Subflow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>Episode_Id_Value</elementReference></value>
        </filters>
        <inputAssignments>
            <field>End_DateTime__c</field>
            <value><elementReference
        >Outcome_DateTime_Value</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Episode_Status__c</field>
            <value><stringValue>Closed</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current__c</field>
            <value><booleanValue>false</booleanValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Type__c</field>
            <value><elementReference
        >Outcome_Type_Value</elementReference></value>
        </inputAssignments>
        <object>Animal_Episode__c</object>
    </recordUpdates>
    <subflows>
        <name>Run_Rollup_Subflow</name>
        <label>Run Rollup Subflow</label>
        <locationX>1080</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowName>A360_Animal_Current_State_Rollup_Flow</flowName>
        <inputAssignments>
            <name>episodeId</name>
            <value><elementReference>Episode_Id_Value</elementReference></value>
        </inputAssignments>
    </subflows>
    <start>
        <locationX>40</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Enter_Close_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varOutcomeEventId</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
