force-app/main/default/flows/A360_Intake_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <interviewLabel>Animal Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal Intake Flow</label>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Enter_Intake_Details</name>
        <label>Enter Intake Details</label>
        <locationX>260</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Animal</targetReference>
        </connector>
                <fields>
            <name>Intake_Instructions</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
            <fieldText
      >Enter the required intake details. For picklist values, use configured labels. Housing Unit ID must be the Salesforce record ID for the destination housing unit.</fieldText>
        </fields>
                <fields>
            <name>Animal_Display_Name</name>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <fieldText>Animal Display Name</fieldText>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
                <fields>
            <name>Estimated_Age_Months_Value</name>
            <fieldType>InputField</fieldType>
            <dataType>Number</dataType>
            <fieldText>Estimated Age (Months)</fieldText>
            <helpText
      >Provide a whole number of months when exact date of birth is unknown.</helpText>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
                <fields>
            <name>Species_Value</name>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <fieldText>Species</fieldText>
            <helpText
      >Use one of the configured values, for example Dog or Cat.</helpText>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
                <fields>
            <name>Sex_Value</name>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <fieldText>Sex</fieldText>
            <helpText
      >Use one of the configured values, for example Female, Male, Intersex, or Unknown.</helpText>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
                <fields>
            <name>Intake_Source_Value</name>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <fieldText>Intake Source</fieldText>
            <helpText
      >Use one of the configured values, for example Stray or Owner Surrender.</helpText>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
                <fields>
            <name>Intake_DateTime_Value</name>
            <fieldType>InputField</fieldType>
            <dataType>DateTime</dataType>
            <fieldText>Intake Date Time</fieldText>
            <helpText
      >Defaults to the current org date and time. Update it if the intake happened earlier.</helpText>
            <defaultValue><elementReference
        >$Flow.CurrentDateTime</elementReference></defaultValue>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
                <fields>
            <name>Housing_Unit_Id_Value</name>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <fieldText>Housing Unit ID</fieldText>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Intake Complete</label>
        <locationX>1500</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
                <fields>
            <name>Success_Message</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
            <fieldText
      >Animal intake completed successfully. Animal ID: {!varAnimalId}. Episode ID: {!varEpisodeId}.</fieldText>
        </fields>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Intake Error</label>
        <locationX>1040</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
                <fields>
            <name>Error_Message</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
            <fieldText
      >The intake flow could not complete. Review the error and try again. {!$Flow.FaultMessage}</fieldText>
        </fields>
    </screens>
    <recordCreates>
        <name>Create_Animal</name>
        <label>Create Animal</label>
        <locationX>500</locationX>
        <locationY>80</locationY>
        <assignRecordIdToReference>varAnimalId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Episode</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Display_Name__c</field>
            <value><elementReference
        >Animal_Display_Name</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Age_Months__c</field>
            <value><elementReference
        >Estimated_Age_Months_Value</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Species__c</field>
            <value><elementReference>Species_Value</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex__c</field>
            <value><elementReference>Sex_Value</elementReference></value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Episode</name>
        <label>Create Episode</label>
        <locationX>700</locationX>
        <locationY>80</locationY>
        <assignRecordIdToReference>varEpisodeId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Intake_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal__c</field>
            <value><elementReference>varAnimalId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Episode_Type__c</field>
            <value><stringValue>Intake</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Episode_Status__c</field>
            <value><stringValue>Open</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_DateTime__c</field>
            <value><elementReference
        >Intake_DateTime_Value</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Source__c</field>
            <value><elementReference
        >Intake_Source_Value</elementReference></value>
        </inputAssignments>
        <object>Animal_Episode__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Intake_Event</name>
        <label>Create Intake Event</label>
        <locationX>900</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Create_Location_Stay</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal_Episode__c</field>
            <value><elementReference>varEpisodeId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value><elementReference
        >Intake_Source_Value</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_DateTime__c</field>
            <value><elementReference
        >Intake_DateTime_Value</elementReference></value>
        </inputAssignments>
        <object>Intake_Event__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Location_Stay</name>
        <label>Create Location Stay</label>
        <locationX>1100</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Run_Rollup_Subflow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal_Episode__c</field>
            <value><elementReference>varEpisodeId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Housing_Unit__c</field>
            <value><elementReference
        >Housing_Unit_Id_Value</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_DateTime__c</field>
            <value><elementReference
        >Intake_DateTime_Value</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Move_Reason__c</field>
            <value><stringValue>Intake Placement</stringValue></value>
        </inputAssignments>
        <object>Animal_Location_Stay__c</object>
    </recordCreates>
    <subflows>
        <name>Run_Rollup_Subflow</name>
        <label>Run Rollup Subflow</label>
        <locationX>1300</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowName>A360_Animal_Current_State_Rollup_Flow</flowName>
        <inputAssignments>
            <name>episodeId</name>
            <value><elementReference>varEpisodeId</elementReference></value>
        </inputAssignments>
    </subflows>
    <start>
        <locationX>40</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Enter_Intake_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAnimalId</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEpisodeId</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
