force-app/main/default/flows/A360_Welfare_Assessment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description
  >LWC-assisted welfare assessment entry flow that persists the payload, evaluates risk, and conditionally creates a care plan.</description>
    <interviewLabel>Welfare Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Welfare Assessment Flow</label>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Enter_Assessment</name>
        <label>Enter Assessment</label>
        <locationX>240</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Assessment</targetReference>
        </connector>
        <fields>
            <name>Assessment_Entry_Component</name>
            <fieldType>ComponentInstance</fieldType>
            <extensionName>c:a360WelfareAssessmentEntry</extensionName>
            <inputParameters>
                <name>episodeId</name>
                <value>
                    <elementReference>episodeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templateId</name>
                <value>
                    <elementReference>templateId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>assessmentContext</name>
                <value>
                    <elementReference>assessmentContext</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>payloadJson</name>
                <value>
                    <elementReference>payloadJson</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Assessment Saved</label>
        <locationX>1320</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
            <fieldText
      >Assessment saved successfully. Assessment Id: {!assessmentId}. Overall concern: {!overallConcern}. Immediate action required: {!immediateActionRequired}. Care Plan Id: {!carePlanId}.</fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Assessment Error</label>
        <locationX>1080</locationX>
        <locationY>220</locationY>
        <allowBack>false</allowBack>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
            <fieldText
      >The welfare assessment flow could not complete. {!$Flow.FaultMessage}</fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <actionCalls>
        <name>Save_Assessment</name>
        <label>Save Assessment</label>
        <locationX>520</locationX>
        <locationY>80</locationY>
        <actionName>A360AssessmentPersistenceService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_Risk</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>episodeId</name>
            <value>
                <elementReference>episodeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>templateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>payloadJson</name>
            <value>
                <elementReference>payloadJson</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>assessmentId</assignToReference>
            <name>assessmentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>episodeId</assignToReference>
            <name>episodeId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Evaluate_Risk</name>
        <label>Evaluate Risk</label>
        <locationX>740</locationX>
        <locationY>80</locationY>
        <actionName>A360AssessmentRiskService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Should_Auto_Create_Care_Plan</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assessmentId</name>
            <value>
                <elementReference>assessmentId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>assessmentId</assignToReference>
            <name>assessmentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>episodeId</assignToReference>
            <name>episodeId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>overallConcern</assignToReference>
            <name>overallConcern</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>immediateActionRequired</assignToReference>
            <name>immediateActionRequired</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>autoCreateCarePlan</assignToReference>
            <name>autoCreateCarePlan</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Care_Plan</name>
        <label>Create Care Plan</label>
        <locationX>1080</locationX>
        <locationY>80</locationY>
        <actionName>A360CarePlanService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assessmentId</name>
            <value>
                <elementReference>assessmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>episodeId</name>
            <value>
                <elementReference>episodeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipIfOpenForAssessment</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>carePlanId</assignToReference>
            <name>carePlanId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>actionCount</assignToReference>
            <name>actionCount</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Should_Auto_Create_Care_Plan</name>
        <label>Should Auto Create Care Plan</label>
        <locationX>920</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Care Plan Needed</defaultConnectorLabel>
        <rules>
            <name>Auto_Create_Care_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>autoCreateCarePlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Care_Plan</targetReference>
            </connector>
            <label>Auto Create Care Plan</label>
        </rules>
    </decisions>
    <start>
        <locationX>40</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Enter_Assessment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>episodeId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>templateId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assessmentContext</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Routine</stringValue>
        </value>
    </variables>
    <variables>
        <name>payloadJson</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assessmentId</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>overallConcern</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>immediateActionRequired</name>
        <dataType>Boolean</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>autoCreateCarePlan</name>
        <dataType>Boolean</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>carePlanId</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>actionCount</name>
        <dataType>Number</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
