force-app/main/default/flows/A360_Care_Plan_Auto_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description
  >Autolaunched flow that evaluates assessment risk and creates a care plan only when metadata rules require auto-creation.</description>
    <actionCalls>
        <name>Evaluate_Assessment_Risk</name>
        <label>Evaluate Assessment Risk</label>
        <locationX>260</locationX>
        <locationY>80</locationY>
        <actionName>A360AssessmentRiskService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <connector>
            <targetReference>Should_Auto_Create_Care_Plan</targetReference>
        </connector>
        <inputParameters>
            <name>assessmentId</name>
            <value>
                <elementReference>assessmentId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>assessmentId</assignToReference>
            <name>assessmentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>episodeId</assignToReference>
            <name>episodeId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>overallConcern</assignToReference>
            <name>overallConcern</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>immediateActionRequired</assignToReference>
            <name>immediateActionRequired</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>autoCreateCarePlan</assignToReference>
            <name>autoCreateCarePlan</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Care_Plan</name>
        <label>Create Care Plan</label>
        <locationX>720</locationX>
        <locationY>80</locationY>
        <actionName>A360CarePlanService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assessmentId</name>
            <value>
                <elementReference>assessmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>episodeId</name>
            <value>
                <elementReference>episodeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipIfOpenForAssessment</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>carePlanId</assignToReference>
            <name>carePlanId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>actionCount</assignToReference>
            <name>actionCount</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Should_Auto_Create_Care_Plan</name>
        <label>Should Auto Create Care Plan</label>
        <locationX>500</locationX>
        <locationY>80</locationY>
        <defaultConnectorLabel>No Care Plan Needed</defaultConnectorLabel>
        <rules>
            <name>Auto_Create_Care_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>autoCreateCarePlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Care_Plan</targetReference>
            </connector>
            <label>Auto Create Care Plan</label>
        </rules>
    </decisions>
    <interviewLabel
  >Care Plan Auto Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Care Plan Auto Create Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>40</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Evaluate_Assessment_Risk</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assessmentId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>episodeId</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>overallConcern</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>immediateActionRequired</name>
        <dataType>Boolean</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>autoCreateCarePlan</name>
        <dataType>Boolean</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>carePlanId</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>actionCount</name>
        <dataType>Number</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
